<p>I have worked individually and as part of teams on a variety of small projects ranging from low-level systems programming to web applications.</p>

<p>Here I have them organized by date with a short description. Visit each project's page for more information, documentation, and download links.</p>

<p>&nbsp;</p>
<p><a routerLink="/projects/stockkeeper">StockKeeper</a> - a simple stock tracker app for Android (December 2017)</p>

<p><a routerLink="/projects/webtabs">WebTabs</a> - a barebones web browser for Android (October 2017)</p>

<p><a routerLink="/projects/augment-by-color">Augment By Color</a> - an AR project for mobile devices using AR.js (April 2017)</p>

<p><a routerLink="/projects/bwfat">bwFAT</a>&nbsp;- a FAT file system for linux written in C. (April 2016)</p>

<p><a routerLink="/projects/coolshell">coolshell</a> - a very minimal unix shell written in C. (February 2016)</p>