#header-area {
	/*margin-top: 40px;*/
	/*margin-bottom: 10px;*/
	width: 80%;
	display: flex;
	align-items: flex-end;
}
#title-block {
	flex: 0 0 200px;
	box-sizing: border-box;
	text-align: center;
}
	#circle {
		height: 180px;
		width: 180px;
		margin: 0px auto;
		border: 2px solid black;
		border-radius: 50%;
	}
	#title {
		font-size: 38px;
		/*position: relative;
		top: 15px;*/
	}
	#subtitle {
		position: relative;
		top: -20px;
	}
#nav-bar {
	flex: 1 0 80px;
	/*position: relative;
	top: -40px;*/
	margin-bottom: 18px;
	box-sizing: border-box;
}
	#nav-bar div {
		display: inline-block;
		padding: 0px 10px;
	}
#link-bar {
	/*margin-bottom: 15px;*/
	flex: 1 0 80px;
	/*position: relative;
	top: -40px;*/
	text-align: right;
	box-sizing: border-box;
}
	#link-bar div {
		display: inline-block;
		padding: 0px 10px;
	}
	#link-bar img {
		height: 40px;
		width: auto;
	}


.center-area {
	box-sizing: border-box;
	min-width: 600px;
  max-width: 950px;
	margin: 0px auto;
}

#content-area {
	border: 1px solid #ccc;
	min-height: 300px;
	padding: 40px;
}

#footer-area {
	margin-top: 30px;
	text-align: center;
}


@media only screen and (max-width: 1100px) {
	.center-area {
		width: 80%;
	}
}