<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <table><tr>
    <td><a routerLink="/home">Home</a></td>
    <td><a routerLink="/projects">Projects</a></td>
    <td><a routerLink="/resume">Resume</a></td>
    <td><a routerLink="/blog">Blog</a></td>
  </tr></table>
</div>


<router-outlet></router-outlet>


<table><tr>
    <td><a routerLink="/home">TODO social links down here</a></td>
    <td><a routerLink="/projects">Projects</a></td>
    <td><a routerLink="/resume">Resume</a></td>
    <td><a routerLink="/blog">Blog</a></td>
  </tr></table>