<div><strong>Contact</strong>: benwcodes@gmail.com</div>

<h4>EDUCATION</h4>
<div>
	TEMPLE UNIVERSITY, College of Science &amp; Technology, Philadelphia, PA<br />
	<strong>B.Sc. in Computer Science, December 2017</strong><br />
	Major GPA: 3.67&nbsp; |&nbsp; Cumulative GPA: 3.48&nbsp; |&nbsp; Distinction in Major
</div>

<h4>COURSEWORK COMPLETED</h4>
<div>
	Program Design and Abstraction (Java)<br />
	Data Structures and Algorithms (Java)<br />
	Software Design (Java and C#)<br />
	Mathematical Concepts in Computing I &amp; II<br />
	Computational Probability and Statistics<br />
	Technical Writing<br />
	Web Application Programming (JavaServer Pages)<br />
	Client-Side Scripting (JavaScript)<br />
	User Experience Design<br />
	Mobile Application Development (Android)<br />
	Computer Systems and Low-Level Programming (C and Linux)<br />
	Systems Programming and Operating Systems (C and Linux)
</div>

<h4>TECHNICAL SKILLS</h4>
<div><u>Software:</u> Ten years&rsquo; experience with Windows based operating systems. Adobe 
	Premiere and Photoshop; Microsoft Office. Experience with Unix/Linux systems for development. 
	Programming experience with Java and C in various environments. 3 years&rsquo; experience with 
	HTML/CSS. Web application development with JSP/Angular/JavaScript and MySQL. Experience with C# 
	in Unity 3D and ASP.NET applications. Exposure to Agile software development through Rally.
</div>

<h4>EXPERIENCE</h4>
<div>
	<strong>Web Application Developer</strong>, July 2017 &ndash; Present<br />
	Capstan Tax Strategies, Jenkintown, PA
	<ul>
		<li>Designed a web application for employees to organize and search through tax documents</li>
		<li>Develop application using Node/Express, PostgreSQL, and Angular 6</li>
		<li>Deploy application to Amazon Web Services, making use of EC2, S3, RDS, and Lambda</li>
		<li>Designed a simple and streamlined interface using Angular Material</li>
	</ul>
</div>
<div>
	<strong>Software Engineer & Project Lead</strong>, July 2016 – September 2018<br />
	Mage Match, Philadelphia, PA
	<ul>
		<li>Designed a hybrid card/board game system using the Unity 3D game engine</li>
		<li>Implemented and tested said system using C# in Visual Studio</li>
		<li>Designed and produced UI assets for main game screen and menus using Photoshop</li>
		<li>Organized weekly sprints for and directed a team of six in engineering, art, audio, and UX 
		tasks, as well as business & administrative processes</li>
	</ul>
</div>
<div>
	<strong>Programming Camp Instructor</strong>, June 2018 – August 2018<br />
	Temple University Office of Non-Credit and Continuing Education, Philadelphia, PA
	<ul>
		<li>Instructed students 8 to 12 years old programming basics and best practices</li>
		<li>Led courses involving web design, video game design/development, Minecraft modding, and Roblox level design</li>
		<li>Provided technical assistance to fellow camp instructors when needed</li>
	</ul>
</div>
<div>
	<strong>Drum Set Instructor</strong>, September 2011 – September 2014<br />
	Downingtown School of Rock, Downingtown, PA
	<ul>
		<li>Instructed music students ages 8 to 16 drum set performance and practice routines</li>
		<li>Assisted in the coordination of week-long summer camps with other instructors</li>
		<li>Substitute instructor as needed</li>
	</ul>
</div>

<h4>ACTIVITIES</h4>
<div>
	Small-team video game development (see <a routerLink='blog'>Mage Match</a>)<br />
	Drum set performance since 2006; 2012 School of Rock AllStar, 2013 School of Rock AllStar
</div>